/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    positon:relative;
    min-height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color: white;
}

#style{
    float: right;
}
.nav{
    width: 100%;
    height: 30px;
    box-shadow: 0 1px 1px black;
    background-color: lightblue;
}

.rightWrapper {
    margin-right: 30px;
    margin-left:auto;
    margin-top: -17px;
    width: 300px;
    border-right: solid 1px;
    border-color: #f2f2f2;
}
.rightTop {
    width: 100%;
    height: 110px;
}

.rightBottom {
    margin: 1em 0px;
    padding: 10px;
    border: 2px solid #555;
    background-color: #f2f2f2;
    color: black;
    font-size: 140%;
    text-align: justify;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    width: 100%;

}
.loginbox{
    margin: 1em 0px;
    padding: 10px;
    border: 2px solid #555;
    background-color: #f2f2f2;
    color: black;
    font-size: 140%;
    text-align: justify;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    width: 100%;
}
.registerbox{
    padding: 10px;
    border: 2px solid #555;
    background-color: #f2f2f2;
    color: black;
    font-size: 140%;
    text-align: justify;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 25px;
    width: 100%;

}
.centerdiv{
    max-width: 325px;
    width: 100%;
    margin:0 auto;
}

.banner{
    background-image: url("../images/download.jpg");
    background-position: center;

    background-repeat: repeat, repeat;
    background-color: black;
    height: 150px;
    width: 100%;
}

hr.style-five {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {
    content: "\00a0";
}

.text{
    width:100%;
    text-align: center;
    font-size:200%;

    margin: 1em 14%;
    padding: 10px;
    border: 2px solid #555;
    background-color: #f2f2f2;
    color: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.itembox{
    width:100%;
    font-size:200%;

    margin: 1em 14%;
    padding: 10px;
    border: 2px solid #555;
    background-color: #f2f2f2;
    color: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.mainbox{
    width:63%;
    float: left;

}
.footer{
    width: 100%;
    position: absolute;
    bottom:0;
}
.footershop{
    width: 100%;

}

a:link{
    color: white;
    text-decoration: none;
    font-size: 20px;

}
a:hover{
    font-size: 20px;
    text-decoration: none;
}
a:visited{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
h1{

    font-size: 40px;
    font-weight: bold;
}
h2{
    font-weight: bold;
}
.shopicon{
    width: 100%;
    height:auto;
}
.container{
    width:64px;
    height:64px;;
}
.shoppinglist{
    width: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}